* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 120%;
  background: #F8F8FF;
}


h2 {
width : -20% ;
text-align : center ;	
color: #ffb320;
/*text-shadow: 0 1px 0 #999999, 0 2px 0 #888888,
             0 3px 0 #555555, 0 6px 0 #444444,
             0 5px 10px rgba(0, 0, 0, 0.2);
*/}
form, .content {
  width: 70%;
  margin: 100px auto;
  padding: 20px;
  /*border: 10px solid #B0C4DE;
  */
  background: white;
  /*border-radius: 0px 0px 10px 10px;
  */background:rgba(20, 25, 20, 0.8);
}
.input-group {
  color : white ;
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

.button {
  padding: 10px;
  font-size: 15px;
  color: white;
  /*background: #5F9EA0;
  */
  background:#ffb320;
  border: none;
  font-weight:bolder;
  border-radius: 5px;
}

.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

